<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Cyclecity | sondage</title>

		<meta name="description" content="sondage, communautée cyclistes, vélo, circulation, ville">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.17.2/build/cssreset/cssreset-min.css">
        <link rel="stylesheet" type="text/css" href="web/css/main.css">
	</head>
	<body>
		<h2>Asylum, youth deep engagement empowerment; health; amplify medical.</h2>
		<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
		<script src="web/js/app.js"></script>
		<button class="cc-btn cc-submit" type="submit">demarrer</button>
	</body>
</html>